<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Client</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/client.css">
    <link rel="stylesheet" href="{{rootURL}}app/styles/rainbow.css">

    {{content-for "head-footer"}}
  </head>
  <body class="app">
    <div class="wrapper">
      <div class="body">
        {{content-for "body"}}
      </div>
    </div>

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/client.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
