<div class="wrapper">
    <div class="all-users-view">
        <h1 class="center">All Users</h1>

      {{#each model.usersToShow as |user|}}
          <div class="three-item-list fix-height">
              <div class="large-heading list-item">
                {{user.first-name}} {{user.last-name}}
              </div>
              <div class="fav-color-hex color-{{user.fav-color-hex}} large-heading list-item">
                {{user.fav-color-hex}}
              </div>
              <div class="list-item">
          {{#each user.user-connections as |user-connection|}}
            {{#link-to "users" user-connection.id}}{{user-connection.first-name}} {{user-connection.last-name}}{{/link-to}},
          {{/each}}
              </div>
          </div>
      {{/each}}

    </div>
</div>


