<div class="wrapper">
  <div class="user-connections-view">
    <h1 class="center">User Info</h1>
      <div class="two-item-list fix-height">
        <div class="large-heading list-item">{{model.first-name}} {{model.last-name}}</div>
        <div data-fav-color-hex="{{model.fav-color-hex}}" class="fav-color-hex color-{{model.fav-color-hex}} large-heading list-item">{{model.fav-color-hex}}</div>
      </div>

    <h1 class="center">UserConnections</h1>

    <div {{action "listItemClick"}} class="three-item-list-container">

    {{#each model.user-connections as |user-connection|}}
      <div class="three-item-list fix-height">
        <div class="large-heading list-item">
          {{user-connection.first-name}} {{user-connection.last-name}}
        </div>
        <div class="fav-color-hex color-{{user-connection.fav-color-hex}} large-heading list-item">
          {{user-connection.fav-color-hex}}
        </div>
        <div data-remove-user-id="{{user-connection.id}}" class="button list-item">
          <span data-remove-user-id="{{user-connection.id}}">Remove</span>
        </div>
      </div>
    {{/each}}

    </div>

  </div>
</div>


