
/** ############# GLOBAL ########################## */

ul {
  list-style: none;
  padding-left: 0;

  li {
    //float: left;
  }
}

.center {
  text-align: center;
}

.three-item-list {
  width: 100%;
  padding-top: 10px;

  .list-item {
    text-align: center;
    display: inline-block;
    float: left;
    width: 30%;
  }
}

.two-item-list {
  width: 100%;
  padding-top: 10px;

  .list-item {
    text-align: center;
    display: inline-block;
    float: left;
    width: 50%;
  }
}

.fix-height {
  content: "";
  display: table;
  clear: both;
}

.large-heading {
  font-size: 2em;
}

.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

/** ############# COLORS ########################## */

.color-FF0000 {
  background: #FF0000;
}

.color-FFFF00 {
  background: #FFFF00;
}

.color-006600 {
  background: #006600;
}

.color-0000FF {
  background: #0000FF
}

/** ############## APP ############################ */

.ember-view {
  .wrapper {
    width: 100%;
  }
}

/** ############### USERS/<ID> #################### */

.user-connections-view {
  width: 80%;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
